@model TestVueWebApp.Repository.Models.NachislSumma

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NachislSumma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NachislSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NachislSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NachislYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NachislYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NachislMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NachislMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NachType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NachType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountResources)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountResources)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbonentModeСdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbonentModeСdNavigation.AccountCd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NachislFactCd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
