@model TestVueWebApp.Repository.Models.Remain

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Сальдо</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Месяц расчета остатка</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remmonth)
        </dd>
        <dt class = "col-sm-2">Год расчета остатка</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remyear)
        </dd>
        <dt class = "col-sm-2">Сумма остатка</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remainsum)
        </dd>
        <dt class = "col-sm-2">Лицевой счет</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCdNavigation.AccountCd)
        </dd class>
        <dt class = "col-sm-2">Наименование услуги</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCdNavigation.ServiceName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RemainCd" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
