@model TestVueWebApp.Repository.Models.Abonent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Abonent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlatNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlatNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Сorpus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Сorpus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeFlat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeFlat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetCdNavigation.StreetName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountCd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
