@model TestVueWebApp.Repository.Models.PaySumma

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PaySumma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaySum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaySum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbonentModeСdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbonentModeСdNavigation.AccountCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionPointCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionPointCdNavigation.ReceptionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PayFactCd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
