@model TestVueWebApp.Repository.Models.AbonentMode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AbonentMode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Counterr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counterr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCdNavigation.AccountCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeCdNavigation.ModeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AbonentModeСd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
